[submodule "Plugins/BufferInspector"]
	path = Plugins/BufferInspector
	url = https://github.com/JSzajek/BufferInspector.git
[submodule "Plugins/GPUWorks"]
	path = Plugins/GPUWorks
	url = https://github.com/JSzajek/GPUWorks.git
